@import url("theme.css");

.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  width: 15rem;
  margin: -1rem
}

.wy-side-nav-search {
  background-color: #eee;
}

.wy-side-nav-search>div.version {
  display: none;
}

.wy-nav-top {
  background-color: #EEE;
}


blockquote {
    color: gray;
    font-style: italic;
}
