# ide
*.sublime-workspace
*.sublime-project
.ipynb_checkpoints/

# build
__pycache__
*.pyc
*.zip
*.rdb
*.egg-info
podpac/cache/

# log
podpac.log

# test
.cache
.coverage
artifacts

# docs
doc/build
doc/source/user/api
doc/source/user/api-min
.pytest_cache/
