# ide
*.sublime-workspace
*.sublime-project
.ipynb_checkpoints/
.vscode

# build
__pycache__
*.pyc
*.zip
*.rdb
*.egg-info
podpac/cache/


# test
.cache
.coverage
artifacts

# docs
doc/build
doc/source/user/api
doc/source/example-links.inc
.pytest_cache/
