# Travis CI Podpac Build
# Builds for python 2.x and python 3.x
# 
# Useful links:
# https://docs.travis-ci.com/user/languages/python/
# https://conda.io/docs/user-guide/tasks/use-conda-with-travis-ci.html

language: python
sudo: required
dist: xenial
python:
#  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

# addons:
#   # https://docs.travis-ci.com/user/uploading-artifacts/
#   artifacts:
#     paths:
#     - ./artifacts

install:
  # required for rasterio (https://rasterio.readthedocs.io/en/latest/installation.html#linux)
  - sudo add-apt-repository -y ppa:ubuntugis/ppa
  - sudo apt-get -qq update
  - sudo apt-get install -y gdal-bin libgdal-dev

  # install setup.py and dev extras
  - pip install coverage==4.5.4
  - pip install .[devall]
  
  # Allow Python exec and eval functions for unit tests
  - mkdir /home/travis/.podpac
  - touch /home/travis/.podpac/ALLOW_PYTHON_EVAL_EXEC
  
# cache pip dependencies for faster builds
cache: pip

# run unit tests
script: 
  - pytest --ci --cov=podpac podpac        # run unit tests with coverage
  - pytest --ci -m integration podpac      # run integration tests

  # run doctest
  - cd doc && ./test-docs.sh && cd ..

  # upload coverage report to coveralls for badge display
  - coveralls


jobs:
  include:
    # check formatting
    - stage: formatting
      python: "3.7"
      script: black --check podpac
    # deploy docs to `podpac-docs` repository. This script only pushes the docs on pushes to develop and master.
    - stage: docs deploy
      python: "3.7"
      script: cd doc && ./ci-deploy.sh && cd ..
